body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main {
  overflow: hidden;
}

.site-navigation {
  font-size: 16px;
  line-height: 100%;
  color: #000000;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.site-navigation__link {
  display: block;
  padding: 25px 30px;
  color: #000000;
}

.main-header-logo {
  width: 93px;
  height: 84px;
  cursor: pointer;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1083px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 3px;
  padding-top: 3px;
}

.indent {
  padding-top: 157px;
  padding-bottom: 157px;
}

.main-page {
  background: url(../img/background.png) 0 -65px no-repeat;
  position: relative;
  background-position-x: center;
}

.font-decorated {
  font-family: "Pattaya", cursive;
  color: #ffffff;
  text-align: center;
}

.font-decorated__title {
  font-size: 42px;
  letter-spacing: 2px;
  font-weight: 300;
}

.font-decorated__small-text {
  font-size: 23px;
  letter-spacing: 2px;
}

.order-button-container {
  display: flex;
  justify-content: center;
  margin-top: 89px;
}

.button {
  text-transform: uppercase;
  color: #ffffff;
  list-style: none;
  background-color: #DE001B;
  padding: 11px 25px;
  border-radius: 31px;
  cursor: pointer;
  outline: none;
  border: none;
}

.button:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  background: linear-gradient(180deg, rgba(126, 0, 0, 0.63) 0%, rgba(255, 255, 255, 0) 100%), #DE001B;
}

.button:active {
  background: linear-gradient(180deg, #E5001C 0%, rgba(255, 255, 255, 0) 100%), #DE001B;
  box-shadow: 0px 4px 4px rgba(246, 154, 154, 0.25);
}

.margin-bottom {
  margin-bottom: 35px;
}

.line {
  background: url(../img/scallop-large.png) repeat-x bottom center;
  height: 33px;
  position: absolute;
  bottom: 0;
  width: 100%;
}


.description {
  justify-content: space-between;
}

.indent-first {
  padding-top: 45px;
  padding-bottom: 45px;
}

.center {
  display: flex;
  width: 1083px;
  margin: 0 auto;
  box-sizing: border-box;
}

.description__image {
  margin-right: -170px;
  width: 712.62px;
}

.description__text {
  margin: auto;
  width: 490px;
}

.description__text-text {
  font-weight: 300;
  font-size: 16px;
}

hr {
  width: 50px;
  border: 1px solid #E2E2E2;
  margin-top: 35px;
  margin-bottom: 35px;
  display: inline-block;
}

.chocolate {
  box-sizing: border-box;
  text-align: center;
  background-color: #FFEAF9
}

.chocolate__product-list {
  justify-content: space-between;
}

.chocolate__products {
  width: 254px;
  background: #FFFDFD;
  border: 1px solid #FFB0E9;
  box-sizing: border-box;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
  list-style: none;
  padding: 23px 9px 11px 10px;
}

.img-products {
  border-radius: 33px;
}

.button-products-container {
  display: flex;
  justify-content: center;
}

.price {
  margin-bottom: 24px;
  letter-spacing: 1px;
}

.brown {
  color: brown;
}

.red {
  color: red;
}

.products-offer {
  height: 80px;
  margin-top: 11px;
}

.cake {
  background-color: #F6FDF6;
  box-sizing: border-box;
}

.cake-position {
  justify-content: space-between;
}

.wrapper {
	height: 343px;
	position: relative;
	width: 445px;
}

.slider {
  height: inherit;
  overflow: hidden;
  position: relative;
  width: inherit;
}

.wrapper > input {
	display: none;
}

.slides {
	height: inherit;
	position: absolute;
	width: inherit;
  border-radius: 33px;
  background-size: 445px;
}

.slide1 { background-image: url(../img/cake.png); }
.slide2 { background-image: url(../img/cake4.jpg); }
.slide3 { background-image: url(../img/cake5.jpg); }
.slide4 { background-image: url(../img/cake6.jpg); }
.slide5 { background-image: url(../img/cake7.jpg); }

.controls {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.wrapper label {
	cursor: pointer;
	height: 14px;
	margin-left: 10px;
  margin-right: 10px;
	width: 14px;
	border-radius: 50%;
}

.wrapper label:after {
	border: 1px solid #EB6A7B;
	content: " ";
	display: block;
	height: 13px;
	width: 13px;
	border-radius: 50%;
}

.wrapper label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
	background: #EB6A7B;
}

.slides {
	opacity: 0;
	z-index: 0;
	transform: scale(1.5);
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked ~ .slider .slide1,
#slide2:checked ~ .slider .slide2,
#slide3:checked ~ .slider .slide3,
#slide4:checked ~ .slider .slide4,
#slide5:checked ~ .slider .slide5 {
	opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.cake__image {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cake__image-gallery {
  order: 2;
  margin: 0 50px;
}

.gallery-button {
  border: none;
  width: 50px;
  height: 63px;
  outline: 0;
  cursor: pointer;
}

.back {
  background: url(../img/left.svg) 0 0 no-repeat;
  order: 1;
}

.next{
  background: url(../img/right.svg) 0 0 no-repeat;
  order: 3;
}

.cake__text {
  text-align: end;
}

.cake__text-text {
  margin-bottom: 70px;
  width: 410px;
  font-weight: 300;
  line-height: 24px;
  font-size: 16px;
}

.cake-button-container {
  display: inline-block;
}

.cupcake {
  display: flex;
  background: url(../img/cupcake.png) 0 0 no-repeat;
  background-position-x: center;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cupcake__text-text2 {
  margin-bottom: 70px;
}

.cupkake-text{
  width: 312px;
  color: #ffffff;
}

.button-cupcake-container {
  display: inline-block;
}

.contacts {
  box-sizing: border-box;
  background-color: #FFFEF3;
  }

.contacts-position {
  justify-content: space-between;
}

.contacts__text {
  display: block;
  width: 540px;
}

.contacts__text-text {
  line-height: 23px;
}

.contacts__appointment {
  width: 255px;
  text-align: center;
}

.button-contacts-container{
margin-top: 24px;
}

.footer {
  justify-content: space-between;
}

.styletext {
  font-family: "Parisienne", cursive;
  font-size: 14px;
  padding: 15px 0;
  margin: 0 auto;
}

.footer__social-icons {
  list-style: none;
  display: flex;
  align-items: center;
  width: 126px;
  justify-content: space-between;
}

.social {

}

.title-text {
  font-weight: 500;
  font-size: 25px;
  text-transform: uppercase;
}

.icons {
  cursor: pointer;
}

.appointment-item {
  color: #CACACA;
  border-radius: 30px;
  width: 100%;
  box-sizing: border-box;
  height: 44px;
  padding-left: 14px;
  display: flex;
  border: 1px solid silver;
  outline: 0;
  cursor: text;
}

::-webkit-input-placeholder {
  color: #CACACA;
}


:focus::-webkit-input-placeholder {
  color: transparent
}

.burger {
  display: none;
  width: 56px;
  height: 28px;
  margin-left: 15px;
  margin-right: 15px;
  order: 2;
  cursor: pointer;
}

.social-icons {
  background-color: #F22B44;
  width: 30px;
  height: 30px;
  border-radius: 55px;
}


@media (max-width: 1200px) {

  .center {
    width: auto;
  }

  .main-header-logo {
    margin-left: 15px;
  }

  .burger {
    display: block;
  }

  .burger-menu {
    fill: #F22B44;
    width: 56px;
    height: 28px;
  }

  .site-navigation {
    display: none;
  }

  .main-header {
    display: flex;
  }

  .indent {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .description__image {
    margin: 0 auto;
  }

  .cake-position {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .cake__text {
    text-align: center;
    margin-bottom: 30px;
  }

  .contacts-position {
    flex-direction: column;
    align-items: center;
  }

  .chocolate__product-list{
    flex-wrap: wrap;
    justify-content: space-between;
    width: 600px;
  }

  .chocolate__products {
    margin-bottom: 30px;
  }

  .font-decorated__title {
    line-height: 40px;
  }

  .description__text,
  .contacts__text{
    width: auto;
    margin-right: 40px;
    margin-left: 40px;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .footer__social-icons {
    margin-right: 20px;
    width: 95px;
  }

  .social-icons {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 730px ) {
  .description__image{
    width: 460px;
  }

  .slides{
    background-size: 300px;
  }

  .wrapper {
    height: 231px;
    width: 301px;
  }

  .cake__image-gallery {
    margin: 0 15px;
  }

  .chocolate__product-list{
    width: 400px;
    justify-content: space-around;
  }
}
